.App-header {
  margin: 15px 0;
}

.App-logo {
  max-width: 80px;
  display:block;
  margin:0 auto;
}

.App-footer {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 18px 0;
}